		<a class="sr-only" href="#main-content">Skip to main content</a>

            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-right">
                        <span class="sr-only">Toggle navigation</span>
                        Sites
                        <span class="caret"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About CMS</a>
                        </li>
                        <li>
                            <a href="#">Newsroom Center</a>
                        </li>
                        <li>
                            <a href="#">FAQs</a>
                        </li>
                        <li>
                            <a href="#">Archive</a>
                        </li>
                        <li class="sub-links">
                            <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4da5b2c47a9f9bd7" title="Share this page" class="sub-share addthis_button_compact share">
                                <img src="images/social.png" alt="" />
                                <span>Share</span>
                            </a>
                            <a href="#" title="Get help to use this site" class="sub-help">
                                <img src="images/social.png" alt="" />
                                <span>Help</span>
                            </a>
                            <a href="#" title="Send this page by e-mail" class="sub-email">
                                <img src="images/social.png" alt="" />
                                <span>Email</span>
                            </a>
                            <a href="#" title="Print this page" class="sub-print">
                                <img src="images/social.png" alt="" />
                                <span>Print</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div id="row-logo" class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <a id="brand" title="Medicare.gov - the Official U.S. Government Site for Medicare" href="/">
                        <img src="//assets.cms.gov/Resources/Medicare/Images/home/logoSprite.png" alt="Medicare.gov - the Official U.S. Government Site for Medicare">
                    </a>
                </div>

                <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2 cms-search">
                    <div class="input-group">
                        <label class="sr-only" for="txtSearch">Search Medicare.gov</label>
                        <input type="text" id="txtSearch" class="form-control input-sm" title="type search term here" placeholder="type search term here" name="Search_TextBox" autocomplete="off" dir="ltr" spellcheck="false" style="outline: none;">
                        <span class="input-group-btn">
                            <button class="btn btn-search" type="button" onclick="javascript:siteSearchRedirect(); return false;">Search</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>