			<!-- starting utility section -->        
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
                <ul class="nav nav-pills nav-justified">
                    <li class="dropdown">
                        <a href="#">Sign Up /<br />Change Plans</a>
                        <ul class="dropdown-menu">
							<li>
								<a href="/people-like-me/new-to-medicare/getting-started-with-medicare.html">Getting started with Medicare</a>
							</li>
							<li>
								<a href="/sign-up-change-plans/decide-how-to-get-medicare/your-medicare-coverage-choices.html">Your Medicare coverage choices</a>
							</li>
							<li>
								<a href="/sign-up-change-plans/get-parts-a-and-b/when-how-to-sign-up-for-part-a-and-part-b.html">When & how to sign up for Part A & Part B</a>
							</li>
							<li>
								<a href="http://www.socialsecurity.gov/medicareonly/">Apply for Medicare online</a>
							</li>
							<li>
								<a href="/sign-up-change-plans/get-drug-coverage/get-drug-coverage.html">How to get drug coverage</a>
							</li>
							<li>
								<a href="/sign-up-change-plans/when-can-i-join-a-health-or-drug-plan/when-can-i-join-a-health-or-drug-plan.html">When can I join a health or drug plan?</a>
							</li>
							<li>
								<a href="/sign-up-change-plans/medicare-health-plans/medicare-health-plans.html">About Medicare health plans</a>
							</li>
							<li>
								<a href="/find-a-plan/questions/home.aspx">Find health & drug plans</a>
							</li>
							<li>
								<a href="/find-a-plan/enrollment/check-enrollment.aspx">Check your enrollment</a>
							</li>
							<li>
								<a href="/forms-help-and-resources/find-doctors-hospitals-and-facilities/quality-care-finder.html">Find doctors, hospitals, & facilities</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Your Medicate<br />Costs</a>
                        
                        <ul class="dropdown-menu">
							<li>
								<a href="/your-medicare-costs/help-paying-costs/get-help-paying-costs.html" title="Get help paying costs">Get help paying costs</a>
							</li>
							<li>
								<a href="/your-medicare-costs/part-a-costs/part-a-costs.html" title="Part A costs">Part A costs</a>
							</li>
							<li>
								<a href="/your-medicare-costs/part-b-costs/part-b-costs.html" title="Part B costs">Part B costs</a>
							</li>
							<li>
								<a href="/part-d/costs/part-d-costs.html" title="Costs for Medicare drug coverage">Costs for Medicare drug coverage</a>
							</li>
							<li>
								<a href="/your-medicare-costs/medicare-health-plan-costs/costs-for-medicare-health-plans.html" title="Costs for Medicare health plans">Costs for Medicare health plans</a>
							</li>
							<li>
								<a href="/your-medicare-costs/paying-parts-a-and-b/pay-parts-a-and-b-premiums.html" title="Ways to pay Part A & Part B premiums">Ways to pay Part A & Part B premiums</a>
							</li>
							<li>
								<a href="/your-medicare-costs/costs-at-a-glance/costs-at-glance.html" title="Costs at a glance">Costs at a glance</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">What Medicare<br />Covers</a>
                        
                        <ul class="dropdown-menu">
							<li>
								<a href="/coverage/your-medicare-coverage.html">Is my test, item, or service covered?</a>
							</li>
							<li>
								<a href="/what-medicare-covers/part-a/what-part-a-covers.html">What Part A covers</a>
							</li>
							<li>
								<a href="/what-medicare-covers/part-b/what-medicare-part-b-covers.html">What Part B covers</a>
							</li>
							<li>
								<a href="/part-d/coverage/part-d-coverage.html">What drug plans cover</a>
							</li>
							<li>
								<a href="/what-medicare-covers/medicare-health-plans/what-medicare-advantage-plans-cover.html">What Medicare health plans cover</a>
							</li>
							<li>
								<a href="/coverage/preventive-and-screening-services.html">Preventive services</a>
							</li>
							<li>
								<a href="/Supplier/Home.asp">Find suppliers of medical equipment & supplies</a>
							</li>
							<li>
								<a href="/forms-help-and-resources/find-doctors-hospitals-and-facilities/quality-care-finder.html">Find doctors, hospitals, & facilities</a>
							</li>
							<li>
								<a href="/what-medicare-covers/not-covered/item-and-services-not-covered-by-part-a-and-b.html">What's not covered by Part A & Part B?</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Drug Coverage<br />(Part D)</a>
                        <ul class="topnavsubmenu dropdown-menu">
							<li>
								<a href="/sign-up-change-plans/get-drug-coverage/get-drug-coverage.html">How to get drug coverage</a>
							</li>
							<li>
								<a href="/part-d/coverage/part-d-coverage.html">What drug plans cover</a>
							</li>
							<li>
								<a href="/part-d/costs/part-d-costs.html">Costs for Medicare drug coverage</a>
							</li>
							<li>
								<a href="/sign-up-change-plans/when-can-i-join-a-health-or-drug-plan/when-can-i-join-a-health-or-drug-plan.html">When can I join a health or drug plan?</a>
							</li>
							<li>
								<a href="/part-d/how-part-d-works-with-other-insurance/part-d-and-other-insurance.html">How Part D works with other insurance</a>
							</li>
							<li>
								<a href="/find-a-plan/questions/home.aspx">Find health & drug plans</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Supplements &amp;<br />Other Insurance</a>
                        <ul class="dropdown-menu">
							<li>
								<a href="/supplement-other-insurance/how-medicare-works-with-other-insurance/how-medicare-works-with-other-insurance.html">How Medicare works with other insurance</a>
							</li>
							<li>
								<a href="/supplement-other-insurance/retiree-insurance/retiree-insurance.html">Retiree insurance</a>
							</li>
							<li>
								<a href="/supplement-other-insurance/medigap/whats-medigap.html">What's supplement (Medigap) insurance?</a>
							</li>
							<li>
								<a href="/find-a-plan/questions/medigap-home.aspx">Find a Medigap policy</a>
							</li>
							<li>
								<a href="/supplement-other-insurance/when-can-i-buy-medigap/when-can-i-buy-medigap.html">When can I buy Medigap?</a>
							</li>
							<li>
								<a href="/supplement-other-insurance/compare-medigap/compare-medigap.html">How to compare Medigap policies</a>
							</li>
							<li>
								<a href="/supplement-other-insurance/medigap-and-travel/medigap-and-travel.html">Medigap &amp; travel</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Claims &amp;<br />Appeals</a>
                        <ul class="dropdown-menu">
							<li>
								<a href="/claims-and-appeals/file-a-complaint/complaints.html">File a complaint</a>
							</li>
							<li>
								<a href="/claims-and-appeals/file-a-claim/file-a-claim.html">File a claim</a>
							</li>
							<li>
								<a href="http://www.MyMedicare.gov">Check the status of a claim (MyMedicare.gov)</a>
							</li>
							<li>
								<a href="/claims-and-appeals/file-an-appeal/appeals.html">File an appeal</a>
							</li>
							<li>
								<a href="/claims-and-appeals/right-to-fast-appeal/fast-appeals.html">Your right to a fast appeal</a>
							</li>
							<li>
								<a href="/claims-and-appeals/medicare-rights/medicare-rights-overview.html">Your Medicare rights</a>
							</li>
							<li>
								<a href="/MedicareOnlineForms/">Get Medicare forms</a>
							</li>
							<li>
								<a href="https://www.medicare.gov/MedicareOnlineForms/AuthorizationForm/OnlineFormStep.asp">Authorization to Disclose Personal Health Information</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Manage Your<br />Health</a>
                        
                        <ul class="dropdown-menu">
							<li>
								<a href="https://www.mymedicare.gov/">Login to MyMedicare.gov</a>
							</li>
							<li>
								<a href="/MedicareOnlineForms/">Get Medicare forms</a>
							</li>
							<li>
								<a href="/manage-your-health/advance-directives/advance-directives-and-long-term-care.html">Advance directives & long-term care</a>
							</li>
							<li>
								<a href="/manage-your-health/personal-health-records/personal-health-records.html">Personal Health Records (PHRs)</a>
							</li>
							<li>
								<a href="/manage-your-health/electronic-prescribing/electronic-prescribing.html">Electronic prescribing</a>
							</li>
							<li>
								<a href="/manage-your-health/electronic-health-records/electronic-health-records.html">Electronic Health Records (EHRs)</a>
							</li>
							<li>
								<a href="/manage-your-health/blue-button/medicare-blue-button.html">Medicare's Blue Button</a>
							</li>
							<li>
								<a href="/manage-your-health/coordinating-your-care/coordinating-your-care.html">Coordinating your care</a>
							</li>
						</ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Forms, Help, &amp;<br />Resources</a>
                        
                        <ul class="dropdown-menu">
							<li>
								<a href="/find-a-plan/questions/home.aspx">Find health & drug plans</a>
							</li>
							<li>
								<a href="/forms-help-and-resources/find-doctors-hospitals-and-facilities/quality-care-finder.html">Find doctors, hospitals, & facilities</a>
							</li>
							<li>
								<a href="/your-medicare-costs/help-paying-costs/get-help-paying-costs.html">Get help paying costs</a>
							</li>
							<li>
								<a href="/Supplier/Home.asp">Find suppliers of medical equipment & supplies</a>
							</li>
                            <li role="presentation" class="divider"></li>
							<li>
								<a href="/forms-help-and-resources/forms/medicare-forms.html">Forms</a>
							</li>
							<li>
								<a href="/Publications/">Publications</a>
							</li>
							<li>
								<a href="/medicare-and-you/medicare-and-you.html">"Medicare &amp; You" Handbook</a>
							</li>
							<li>
								<a href="/forms-help-and-resources/mail-about-medicare/mail-about-medicare.html">Mail you get about Medicare</a>
							</li>
							<li>
								<a href="https://secure.ssa.gov/apps6z/IMRC/main.html">Lost/incorrect Medicare card</a>
							</li>
                            <li role="presentation" class="divider"></li>
							<li>
								<a href="/forms-help-and-resources/report-fraud-and-abuse/fraud-and-abuse.html">Report fraud & abuse</a>
							</li>
							<li>
								<a href="/claims-and-appeals/file-a-complaint/complaints.html">File a complaint</a>
							</li>
							<li>
								<a href="/forms-help-and-resources/identity-theft/identity-theft.html">Identity theft: protect yourself</a>
							</li>
							<li>
								<a href="/Contacts/Default.aspx">Phone numbers & websites</a>
							</li>
                            <li role="presentation" class="divider"></li>
							<li>
								<a href="/forms-help-and-resources/privacy-practices/privacy.html">Privacy practices</a>
							</li>
							<li>
								<a href="/forms-help-and-resources/contact/contact-medicare.html">Contact Medicare</a>
							</li>
						</ul>
                    </li>
                </ul>